@media (max-width: 48em) {
  .main_stats {
    flex-basis: 50%;
  }
  .main-img {
    flex-basis: 50%;
  }
  .charts {
    width: 60%;
  }
}

@media (max-width: 42em) {
  .main {
    padding-top: 6rem;
  }
  .main_stats h1,
  .main_img .heading-rules {
    font-size: var(--heading-tertiary);
  }
  .table_contents--headings .table-heading {
    font-size: var(--heading-mini);
  }
  .row-country .row-country--name {
    font-size: var(--text-primary);
  }
  .nav_logo-name {
    font-size: var(--heading-mini);
  }
  .listItems-link {
    font-size: var(--text-primary);
  }
  #main--section,
  #table--section {
    padding: 1.6rem 2.4rem;
  }
  .table_contents {
    width: 90%;
  }
  .charts {
    width: 80%;
  }
  #charts--section h1 {
    font-size: var(--heading-tertiary);
  }
}

@media (max-width: 35em) {
  #main--section .main_stats {
    padding: 0.5rem 1rem;
  }
  .heading-rules {
    text-align: center;
  }
  .main_img {
    display: none;
  }
  .main {
    display: block;
  }
  .cards {
    width: 70%;
  }
  .main_stats--cards {
    gap: 3rem;
    align-items: center;
  }

  .btn--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_stats > h1 {
    text-align: center;
  }
  #main--section {
    padding: 1rem 1.5rem;
  }
  .nav .nav_menuList {
    gap: 1.2rem;
  }
  .nav_logo-name {
    font-size: var(--text-primary);
  }
  .nav .logo {
    width: 4rem;
    height: 4rem;
  }
  #main--section {
    margin: 2.4rem 0;
  }
  #table--section {
    margin: 6.8rem 0;
  }
  .btn--center .main_stats--more {
    font-size: var(--text-secondary);
  }
  .footer .data-link,
  .footer .social-link {
    font-size: 1.4rem;
  }
}

@media (max-width: 29em) {
  #nav--section {
    justify-content: center;
    align-items: center;
  }
  .nav_menuList {
    display: none;
  }
  .nav_logo-name {
    font-size: var(--heading-mini);
  }

  #searchCountries {
    width: 100%;
  }
  .table_contents--headings .table-heading {
    font-size: 1.8rem;
  }
  .row-country .row-country--name {
    font-size: 1.6rem;
  }
  .row-cases .row-cases--value,
  .row-deaths .row-deaths--value {
    font-size: 1.6rem;
  }
  #main--section,
  #table--section {
    padding: 0;
  }
}
